*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'aside header header header'
    'aside sec1 sec2 sec3 '
    'aside main main main '
    'aside footer footer footer'
    ;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 130px 2.5fr 4fr 130px;
}

:is(header,aside,section,main,footer){
    background-color: rgb(137, 137, 253);
    border: 1px solid seagreen;
    padding: 20px;
    font-size: 50px;
}
header{
    grid-area: header;
    
}
aside{
    grid-area: aside;
}
.section1{
    grid-area: sec1;
}
.section2{
    grid-area: sec2;
}
.section3{
    grid-area: sec3;
}
main{
    grid-area:main ;
}
footer{
    grid-area: footer;
}