.pirveli{
    color: green;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.meore{
    color: blue;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.mesame{
    color: aqua;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;

}

#first{
    color: black;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#second{
    color: brown;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#third{
    color: tomato;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}