*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:is(header ,main ,footer){
    background-color: goldenrod;
    border: 1px solid slateblue;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

body{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'header header header'
    'main main main'
    'footer footer footer'
    ;
    grid-template-rows: 100px 4fr 100px; 
}


header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}